# Alchemy Account Kit Configuration
NEXT_PUBLIC_ALCHEMY_API_KEY=
NEXT_PUBLIC_ALCHEMY_GAS_MANAGER_POLICY_ID=

# Platform Configuration
NEXT_PUBLIC_PLATFORM_NAME=doba
NEXT_PUBLIC_CONTRACT_ADDRESS=
NEXT_PUBLIC_CHAIN_ID=

# Blockchain Network
NEXT_PUBLIC_CHAIN_NAME=
NEXT_PUBLIC_ACTIVE_CHAIN=
NEXT_PUBLIC_RPC_URL=

# Site Configuration
NEXT_PUBLIC_SITE_URL=
NEXT_PUBLIC_API_URL=

# Deployment Keys
DOBA_ADDRESS=
PRIVATE_KEY=
ETHERSCAN_API_KEY=

# RPC Endpoints
BASE_RPC_URL=

