# Alchemy Account Kit Configuration
NEXT_PUBLIC_ALCHEMY_API_KEY=
NEXT_PUBLIC_ALCHEMY_ERC20_POLICY_ID=
NEXT_PUBLIC_ALCHEMY_SPONSORED_POLICY_ID=

# WalletConnect Project ID
NEXT_PUBLIC_WALLET_CONNECT_PROJECT_ID=

# Platform Configuration
NEXT_PUBLIC_PLATFORM_NAME=doba
NEXT_PUBLIC_CONTRACT_ADDRESS=
NEXT_PUBLIC_CHAIN_ID=

# Blockchain Network
NEXT_PUBLIC_CHAIN_NAME=
NEXT_PUBLIC_ACTIVE_CHAIN=
NEXT_PUBLIC_RPC_URL=

# Site Configuration
NEXT_PUBLIC_SITE_URL=
NEXT_PUBLIC_API_URL=

# Deployment Keys
DOBA_ADDRESS=
PRIVATE_KEY=
ETHERSCAN_API_KEY=

# RPC Endpoints
ARBITRUM_ONE_RPC_URL=
BASE_RPC_URL=
AVALANCHE_RPC_URL=
